.email-generation-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-iframe {
  width: 100%;
  max-width: 750px;
  height: 400px;
  border: none;
  overflow: hidden;
}
